
body{
    background-color: #e3e3e3;
}
.container{
    background-color: #f8f9fa;
}
.font-page h1, .font-page h2{
    margin: 50px 0 50px 0;
}
.font-page h2 > a{
    color: darkblue;
    transition: color 0.5s ease;
}
.font-page h2 > a:hover{
    color: blue;
}

nav{
    margin-bottom: 20px;
}
.action-bar{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e2e2e2;
    padding: 10px;
}


.delete-form{
    display: inline;
}

.copyright{
    margin: 50px 0 50px 0;
}
.error > input[type=text], .error > textarea {
    border: 1px solid red;
}